<nb-card class="unidadesCard">
  <div class="unidadesContainer">
    <div class="headerUnidades row">
      <div class="col-sm-8 unidadesTitle">
        <h5>Unidad {{currentUnidad.number}} - {{currentUnidad.title}}</h5>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-5">
            <button *ngIf="currentIndex != 0" type="button" (click)="contenidosBack()" class="btn btn-primary btn-icon">
              <i class="nb-arrow-left"></i>
            </button>
          </div>
          <div class="col-sm-5">
            <button *ngIf="currentIndex != unidades.length -1" type="button" (click)="contenidosNext()" class="btn btn-primary btn-icon">
              <i class="nb-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="contenidos">
      <div class='external-events'>
        <h4 *ngIf="currentIndex == 0" >OA 07 -Importancia de la luz en el desarrollo de la vida en el planeta y del sonido, que permite la percepción de vibraciones de objetos, ecos, música y el lenguaje oral.</h4>
        <h4 *ngIf="currentIndex == 1" >OA 08 - Distinguir fuentes naturales y artificiales de luz, como el Sol, las ampolletas y el fuego, entre otras</h4>
        <h4 *ngIf="currentIndex == 2" >OA 09 - Las plantas: su importancia como fuente de alimentación, para la respiración y como medicinas. Observación de distintas plantas. Funciones de cada una de sus partes.</h4>
        <ol>
          <li>
            <div class='fc-event grabbable'>Contenido 1</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 2</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 3</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 4</div>
          </li>
        </ol>
      </div>
     <!-- <div *ngIf="currentIndex == 1" class='external-events'>
        <h4></h4>
        <ol>
          <li>
            <div class='fc-event grabbable'>Contenido 1</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 2</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 3</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 4</div>
          </li>
        </ol>
      </div>
      <div *ngIf="currentIndex == 2" class='external-events'>
        <h4>OA 09 - Distinguir fuentes naturales y artificiales de luz, como el Sol, las ampolletas y el fuego, entre otras</h4>
        <ol>
          <li>
            <div class='fc-event grabbable'>Contenido 1</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 2</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 3</div>
          </li>
          <li>
            <div class='fc-event grabbable'>Contenido 4</div>
          </li>
        </ol>
      </div>-->
    </div>
  </div>

</nb-card>
