<nb-card>
  <nb-card-body>
    <div class="headerUnidades row">
      <div class="col-sm-8">
        <h5 class="unidadesTitle">Unidad 1</h5>
        <h6 class="unidadesTitle">Aprendizajes Esperados</h6>
      </div>
      <div class="col-sm-4">
          <div class="btn-group">
              <button type="button" class="btn btn-primary btn-icon">
                  <i class="nb-arrow-left"></i>
                </button>
                <button type="button" class="btn btn-primary btn-icon">
                  <i class="nb-arrow-right"></i>
                </button>
          </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
