<div align="center">
    
            <h2 class="title">Cambiar contraseña</h2>
            
            <br>
    
            <form (ngSubmit)="form.form.valid && resetPass()" #form="ngForm" autocomplete="nope">
                
                <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
                    <div *ngFor="let error of errors">{{ error }}</div>
                </div>
                
                <div *ngIf="messages && messages.length > 0" class="alert alert-success" role="alert">
                    <div *ngFor="let message of messages">{{ message }}</div>
                </div>              
                   
                <div class="form-group">                   
                    <input name="password" [(ngModel)]="user.password" type="password" id="input-password"  class="form-control" placeholder="Contraseña nueva" #password="ngModel"
                           [class.form-control-danger]="password.invalid && password.touched"  [required]="true" [minlength]="3" [maxlength]="10">
                           <small  align="left" class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
                                Contraseña requerida!</small>
                                <small  align="left" class="form-text error"  *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)" >
                                    Contraseña debe contener de 3 a 10 caracteres</small>
                           
                </div>
                
                <div class="form-group">                    
                    <input name="rePass" [(ngModel)]="user.rePass" type="password" id="input-repas" class="form-control" placeholder="Confirme la contraseña" #rePass="ngModel"
                           [class.form-control-danger]="(rePass.invalid || password.value != rePass.value ) && rePass.touched" [required]="true" >
                           <small  align="left" class="form-text error" *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
                            Las contraseñas no coinciden!</small>                          
                </div>
            
                
                
                <button [disabled]="!form.valid" class="btn btn-block btn-hero-success" >Cambiar contraseña</button>
                
            </form>
        </div>